.main__temperature {
  margin-top: 40px;
  font-family: Cabinet;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.main__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 333px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  justify-content: center;
}
