.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cabinet;
  font-weight: 700;
  line-height: 20px;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  max-width: 610px;
  width: 100%;
}
