.header {
  color: #000000;
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: Cabinet;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__logo {
  margin-right: 24px;
}
.header__add-clothes-btn {
  border: none;
  margin-right: 20px;
  font-weight: inherit;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #000000;
}

.header__username {
  margin: 0;
}

.header__date-and-location {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__user-placeholder {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: #00000080 1px solid;
  background-color: #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2px;
}

.header__signup {
  font-family: Cabinet;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  border: transparent;
}

.header__login {
  font-family: Cabinet;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  border: transparent;
}
