.header {
  color: #000000;
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: Cabinet;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.header__logo {
  margin-right: 24px;
}
.header__add-clothes-btn {
  border: none;
  margin-left: auto;
  margin-right: 20px;
  font-weight: inherit;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__date-and-location {
  margin: 0;
}
