.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000004d;
  font-family: Cabinet;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__close-preview {
  background-image: url("../../assets/close-preview.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__content {
  background-color: #ffffff;
  position: relative;
  border-radius: 16px;
  max-width: 496px;
  width: 100%;
}

.modal__content_type_image {
  padding: 0;
}
.modal__image {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__footer {
  margin: 20px 0 0 32px;
}
